@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">App Configuration Example App for Fagdag 2020 Q1 Kilroy was here</h1>
    <h2>@Configuration["env"]</h2>
    <p>@Configuration["message"]</p>
</div>
